@use "/styles/global/_index.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    // Static colors
    --color-primary: #ffc107;
    --color-selection-text: #000000;
    // Themed colors
    --color-text: rgba(0, 0, 0, 0.87);
  }
  body.dark {
    --color-text: #fff;
  }
}

@layer components {
  .bg-glass {
    @apply backdrop-blur-lg bg-white/80 dark:bg-black/70
  }
}
